*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #121212;
    color: #ccc;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
        Arial, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.hero__background {
    background: #44087c;
    height: 30%;
}
.hero__transition {
    background: linear-gradient(#44087c, transparent);
    height: 30%;
}
.hero__heading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 2.5rem;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}
.login__form {
    display: flex;
    flex-direction: column;
}
.login__item {
    width: 100%;
}

.logged-in {
    display: none;
}
